.app-body {
  display: flex;
  height: calc(100vh - 80px); /* adjust 60px if your header height is different */
}

app-sidebar {
  width: 250px; /* sidebar width */
  background-color: #222;
  /* add other sidebar styles */
}

main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
  transition: width 0.3s ease;
}

main.full-width {
  width: 100%;
}
